@model ESA_Terra_Argila.Models.Category

@{
    ViewData["Title"] = "Nova categoria";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="d-flex align-items-center mt-3 gap-5">
    <h2>Nova categoria</h2>
</div>
<form asp-action="Create" method="post">
    <div class="col-md-7 form-section pt-2 pb-4 px-4">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Nome da categoria...">
            <span asp-validation-for="Name" class="text-danger asp-validation"></span>
        </div>
        <div class="form-group">
            <label>Referência</label>
            <input type="text" asp-for="Reference" name="Reference" class="form-control" placeholder="Referência da categoria...">
            <span asp-validation-for="Reference" class="text-danger asp-validation"></span>
        </div>
        <input type="submit" value="Guardar" class="add-button col-md-12 mt-2 text-center">
    </div>
</form>

