@model ESA_Terra_Argila.Models.Tag

@{
    ViewData["Title"] = "Nova tag";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="d-flex align-items-center mt-3 gap-5">
    <h2>Nova tag</h2>
</div>
<form asp-action="Create" method="post">
    <div class="col-md-5 form-section pt-2 pb-4 px-4">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Nome da tag...">
            <span asp-validation-for="Name" class="text-danger asp-validation"></span>
        </div>
        <div class="form-group mt-2">
            <label>Referência</label>
            <input type="text" asp-for="Reference" name="Reference" class="form-control" placeholder="Referência da tag...">
            <span asp-validation-for="Reference" class="text-danger asp-validation"></span>
        </div>
        <div class="form-group mt-2">
            <label>Visibilidade</label>
            <select asp-for="IsPublic" name="IsPublic" class="form-control">
                <option value="1">Pública</option>
                <option value="0">Privada</option>
            </select>
            <span asp-validation-for="IsPublic" class="text-danger asp-validation"></span>
        </div>
        <input type="submit" value="Guardar" class="add-button col-md-12 mt-4 text-center">
    </div>
</form>

