@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar palavra-passe";
}

<main class="mt-5 col-md-4" style="margin-left: 6rem">
    <h1 class="form-title">@ViewData["Title"]</h1>

    <form method="post" id="reset-password-form">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-group">
            <label asp-for="Input.Email" class="form-label">Email</label>
            <input asp-for="Input.Email"
                   class="form-input"
                   autocomplete="username"
                   aria-required="true"
                   placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="action-button">Recuperar palavra-passe</button>
    </form>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
