@page
@model ESA_Terra_Argila.Areas.Identity.Pages.Account.LockoutModel
@{
	ViewData["Title"] = "Conta Bloqueada";
}

<header>
	<h1 class="text-danger">@ViewData["Title"]</h1>
	<p class="text-danger">@Model.LockoutMessage</p>
</header>