@model List<ESA_Terra_Argila.Models.StockMovement>
@{
    var product = (ESA_Terra_Argila.Models.Product)ViewData["Product"];
    ViewData["Title"] = "Histórico de Stock - " + product.Name;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 class="mt-3"> Histórico de Estoque - @product.Name</h2>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Tipo</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var movement in Model)
        {
            <tr>
                <td>@movement.Date.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@movement.Quantity</td>
                <td>@movement.Type</td>
              
            </tr>
        }
    </tbody>
</table>