@model ESA_Terra_Argila.Models.Product

@{
    ViewData["Title"] = "Novo produto";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="d-flex align-items-center mt-3 gap-5">
    <h2>Novo produto</h2>
</div>
<form asp-controller="Products" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12 d-flex flex-column gap-4">
        <div class="col-md-12 d-flex gap-4">
            <div class="col-md-7 form-section pt-2 pb-4 px-4">
                <h5><strong>Informações gerais</strong></h5>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Nome do produto...">
                    <span asp-validation-for="Name" class="text-danger asp-validation"></span>
                </div>
                <div class="form-group">
                    <label>Referência</label>
                    <input type="text" asp-for="Reference" name="Reference" class="form-control" placeholder="Referência do produto...">
                    <span asp-validation-for="Reference" class="text-danger asp-validation"></span>
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <textarea asp-for="Description" name="Description" class="form-control" placeholder="Descrição do produto..."></textarea>
                    <span asp-validation-for="Description" class="text-danger asp-validation"></span>
                </div>
            </div>
            <div class="col-md-4 form-section d-flex flex-column align-items-center justify-content-between pb-3">
                <div action="/upload" class="dropzone mt-2" id="new-product-dropzone"></div>
                <button class="add-image-button col-md-11 text-center" id="dropZone">Adicionar imagem</button>
            </div>
        </div>
        <div class="col-md-12 d-flex gap-4">
            <div class="col-md-7 d-flex form-section pt-2 pb-4 px-4 gap-3">
                <div class="col-md-5">
                    <h5><strong>Informações de venda</strong></h5>
                    <div class="form-group">
                        <label>Preço</label>
                        <input type="number" asp-for="Price" name="Price" class="form-control" placeholder="Preço do produto...">
                        <span asp-validation-for="Price" class="text-danger asp-validation"></span>
                    </div>
                    <div class="form-group" style="margin-top: 0.85rem">
                        <label>Unidade</label>
                        <input type="text" asp-for="Unit" name="Unit" class="form-control" placeholder="Unidade do produto...">
                        <span asp-validation-for="Unit" class="text-danger asp-validation"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5><strong>Composição sustentável</strong></h5>
                    <div class="col-md-12 d-flex gap-2">
                        <div class="form-group col-md-10">
                            <label>Material</label>
                            <select class="form-control">
                                <option hidden disabled selected value="">Selecione o material</option>
                                <option value="material1">Material 1</option>
                                <option value="material2">Material 2</option>
                                <option value="material3">Material 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Qtd.</label>
                            <input type="number" class="form-control" placeholder="Qtd...">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex gap-2 mt-1">
                        <div class="form-group col-md-10">
                            <select class="form-control">
                                <option hidden disabled selected value="">Selecione o material</option>
                                <option value="material1">Material 1</option>
                                <option value="material2">Material 2</option>
                                <option value="material3">Material 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" placeholder="Qtd...">
                        </div>
                    </div>
                    <div class="col-md-12 d-flex gap-2 mt-1">
                        <div class="form-group col-md-10">
                            <select class="form-control">
                                <option hidden disabled selected value="">Selecione o material</option>
                                <option value="material1">Material 1</option>
                                <option value="material2">Material 2</option>
                                <option value="material3">Material 3</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="number" class="form-control" placeholder="Qtd...">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 form-section pt-2 pb-3 px-4">
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" asp-for="CategoryId" name="CategoryId">
                        <option hidden disabled selected>Categoria</option>
                        <option value="1">Categoria 1</option>
                        <option value="2">Categoria 2</option>
                        <option value="3">Categoria 3</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger asp-validation"></span>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <select class="form-control select2-tags" name="Tags[]" multiple="multiple">
                        <option hidden disabled>Tags</option>
                        <option value="1">Tag 1</option>
                        <option value="2">Tag 2</option>
                        <option value="3">Tag 3</option>
                    </select>
                </div>
                <input type="submit" value="Guardar" class="add-button col-md-12 mt-2 text-center">
            </div>
        </div>
    </div>
</form>

<script>

    // $(document).ready(function() {
        // Dropzone.options.newProductDropzone = {
        //     autoProcessQueue: false,
        //     dictDefaultMessage: "Arraste os arquivos"
        //     paramName: "file",
        //     maxFilesize: 2,
        //     clickable: "#dropZone" the ID of our parent wrapper div
        // };
            // Dropzone.autoDiscover = false;

    // var myDropzone = new Dropzone("#new-product-dropzone", {
    //     dictDefaultMessage: "Solte os arquivos aqui",
    //     url: "/upload", Defina a URL do backend para upload
    //     maxFilesize: 2, Tamanho máximo do arquivo (em MB)
    //     acceptedFiles: "image/*" Aceita apenas imagens
    // });
    // });
    // document.querySelector("#new-product-dropzone .dz-button").innerHTML = "Solte os arquivos aqui para enviar";
    // $('.select2-single').select2();




</script>
